.footer{
    height: 17.3vw;
    margin-top: 2.7vw;
    background-color: #0C0C0E;
    padding: 0 1.3vw 0 1.3vw;
}
.containerFooter{
    background-color: #0C0C0E;
    display: flex;
    justify-content: space-between;
    padding: 1.3vw 0 1.3vw 0 ;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.footer__contact:before{
    position: absolute;
    content: '';
    width: 97.5vw;
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 8vw;

}
.contact__address{
    font-family: Inter,serif;
    max-width: 15.9vw;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: left;
    text-decoration: none;
}

.contact__icon{
    padding-top: 1.5vw;
    display: flex;
    column-gap: 1vw;
}
.icon__footer{
    width: 1.6vw;
    height: 1.6vw;
    cursor: pointer;
}
.footer__address{
    display: flex;
    flex-direction: column;
    padding-right: 1vw;

}
.address{
    font-family: Inter,serif;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: right;
    margin-top: 0.5vw;
}
.footer__company{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4vw;
}
.company__span{
    font-family: Inter,serif;
    color: #FFFFFF;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.3vw;
    letter-spacing: 2px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .footer{
        height: 32.9vw;
    }
    .container__contact{
        padding-top: 2vw;
    }
    .contact__address{
        font-size: 1.9vw;
    }
    .contact__icon{
        column-gap: 2vw;
        padding-top: 4vw;
    }
    .icon__footer{
        width: 3vw;
        height: 3vw;
    }
    .address{
      font-size: 2vw;
        line-height: 3vw;
    }
    .footer__address{
       padding-top: 2vw;
    }
    .footer__contact:before{
        margin-top: 18vw;
    }
    .footer__company{
        padding-top: 7.5vw;
    }
    .company__span{
        font-size: 2.8vw;
    }
}