*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0C0C0E;
    padding: 0 1.3vw 0 1.3vw;
}
.container{
    background-color: #0C0C0E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6vw 0 1.3vw 0 ;

}
.span__logo{
    font-family: Forum,serif;
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;

}
.header__nav{
    display: flex;
    align-items: center;
    column-gap: 2.7vw;
}

.header__nav__list{
    display: flex;
    align-items: center;
    column-gap: 2vw;
    list-style: none;
}
.header__nav__item{

}
.list__link{
    font-family: Inter,serif;
    color:#FFFFFF;
    font-size: 1.3vw;
    font-weight: 400;
    text-decoration: none;
}
.list__link:hover {
    text-decoration: underline;
}
.header__group__icon{
    display: flex;
    align-items: center;
    column-gap: 2.7vw;
}
.header__icon__profile{
    width: 1.9vw;
    height: 1.9vw;
    cursor: pointer;
}
.header__icon__burger{
    display: none;
}

@media screen and (max-width: 900px) {
   .header__nav__list{
       display: none;
   }
    .header__icon__burger{
        display: block;
        width:3.1vw;
        height: 1.3vw;
        cursor: pointer;
    }
}

